.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;



}

.message {
    background-color: #e5e5e5;
    padding: 2em;
    border-radius: 25px;

}

.title {
    border-radius: 25px;
    border: solid white 2px;
}

body {

    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1618843479313-40f8afb4b4d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}