{% extends "layout.html" %}

{% block head%}
<title>Sell Car</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col mt-3">
            <h1 class="text-center text-light">Sell Car</h1>

            <form action="/sell" method="POST" enctype="multipart/form-data">
                <div class="mb-3 text-light">
                    <label for="make" class="form-label">Make:</label>
                    <input type="text" class="form-control" autocomplete="off" autofocus name="make" id="make"
                        placeholder="Make">
                    <br>
                    <label for="model" class="form-label">Model:</label>
                    <input type="text" class="form-control" autocomplete="off" name="model" id="model"
                        placeholder="Model">
                    <br>
                    <label for="year" class="form-label">Year:</label>
                    <input type="text" class="form-control" autocomplete="off" name="year" id="year" placeholder="Year">
                    <br>
                    <label for="mileage" class="form-label">Mileage (km):</label>
                    <input type="text" class="form-control" autocomplete="off" name="mileage" id="mileage"
                        placeholder="Mileage">
                    <br>
                    <label for="price" class="form-label">Price ($):</label>
                    <input type="text" class="form-control mb-3" autocomplete="off" name="price" id="price"
                        placeholder="Price">
                    {{form.hidden_tag()}}
                    <!-- {{form.file()}} -->
                    <!-- {{form.submit()}} -->
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Image:</label>
                        <input class="form-control" name="file" type="file" id="file">
                    </div>

                    <br>
                    <label for="technical" class="form-label">Technical Specifications:</label>
                    <textarea type="text" class="form-control mb-3" autocomplete="off" name="technical" id="technical"
                        placeholder="Write Specifications"></textarea>

                    <input class="btn btn-primary" type="submit" value="Sell Car">
                </div>
            </form>
        </div>
        <div class="col">

        </div>
    </div>
</div>


{% endblock %}