{% extends "layout.html" %}

{% block head%}
<title>Buy</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col mt-3">
            <h1 class="text-center">Buy car</h1>

            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="message" class="form-label">Buy Request:</label>
                    <textarea class="form-control" autocomplete="off" autofocus name="message" id="message"
                        placeholder="Write a message">
                          </textarea>
                    <br>
                    <input class="btn btn-primary" type="submit" value="Send">
                </div>
            </form>
        </div>
        <div class="col">

        </div>
    </div>
</div>


{% endblock %}