{% extends "layout.html"%}

{% block head %}
<title>Homepage</title>
{% endblock%}

{% block body%}
<h1>Hello, {{username}}</h1>




<div class="container text-center mb-1">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-6">
            {% for req in appreqs%}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Congratulations!</strong> Your request No. {{req.request_id}} for buying {{req.car_make}}
                {{req.car_model}} from {{req.seller_name}} has been approved.
                <form action="/r/{{req.request_id}}" method="POST">
                    <button type="submit" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </form>
            </div>
            {% endfor %}

            {% for car in cars %}
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{car.make}} -- {{car.model}}</h5>
                    <p class="card-text">{{car.technical}}.</p>
                </div>
                <ul class="list-group list-group-flush">

                    <li class="list-group-item">Added by: {{car.username}}</li>
                    <li class="list-group-item">Year: {{car.year}}</li>
                    <li class="list-group-item">Mileage: {{car.mileage|km}}</li>
                    <li class="list-group-item">price: {{car.price| usd}}</li>
                </ul>
                <div class="card-body">
                    {% if session["user_id"]!= car.seller_id %}
                    <form action="/buy/{{car.car_id}}" method="POST">
                        <button class="btn btn-primary" {%for request in requests%} {%if car.car_id==request['car_id']
                            %} disabled {%endif %} {%endfor %}> Buy Car</button>
                    </form>

                    {%endif%}

                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col">

        </div>
    </div>
</div>



{% endblock %}