{% extends "layout.html" %}

{% block head%}
<title>Login page</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col mt-3">
            <h1 class="text-center">Login</h1>

            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" class="form-control" autocomplete="off" autofocus name="username" id="username"
                        placeholder="Username">
                    <br>
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" name="password" class="form-control mb-3" placeholder="Password"
                        id="password">
                    <input class="btn btn-primary" type="submit" value="Login">
                </div>
            </form>
        </div>
        <div class="col">

        </div>
    </div>
</div>


{% endblock %}