{% extends "layout.html" %}

{% block head%}
<title>Requests</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col mt-3">
            <h1 class="text-center">Buy Requests</h1>
            {%if not buyers %}
            <h2>You don't have any purchasing request</h2>
            {%else%}
            {%for buyer in buyers%}

            <div class="mb-3">
                <div class="alert alert-success" role="alert">
                    {{buyer.username}} has requested to buy the {{buyer.make}} {{buyer.model}} car
                    year:{{buyer.year}}
                </div>
                <form action="/requests/agree/{{buyer.car_id}}" method="POST">
                    <input class="btn btn-primary" type="submit" value="Agree?">
                </form>
                <form action="/requests/reject/{{buyer.car_id}}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Reject">
                </form>
            </div>

            {%endfor%}
            {%endif%}
        </div>
        <div class="col">

        </div>
    </div>
</div>


{% endblock %}